# Ignore compiled Python files
*.pyc

# Ignore virtual environment
venv/
.venv/

# Ignore cache
__pycache__/

# Ignore IDE files
.vscode/

# Ignore logs
*.log

# Ignore environment variables file
.env
